* {
  margin: 0;
  padding: 0;
  box-sizing:border-box; 
}
body {
  font: 13px Helvetica, Arial; 
}
form {
   background: #000;
   position:fixed;
   bottom: 0;
   width:100%; 
}
form input {
    border: 5px solidblack;
    padding: 10.5px;
    width: 90%;
}
form button { 
    width: 9.5%; 
    background: #008080;
    border: none; 
    padding: 9px; 
    color:white;
    font-size:15px;
    }
#messages {
   list-style-type: none;
   margin: 0;
   padding: 0; 
}
#messages li {
   padding: 5px 10px; 
}
#messages li:nth-child(odd) {
   background: #eee; 
}
